{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "8.2.0"
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "targets": {
          "electron": "8.2.0"
        }
      }
    ]
  ]
}
